@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "EnterCommand";   /*Can be any text*/
  src: local("EnterCommand"),
    url("./assets//fonts/EnterCommand.ttf") format("truetype");
}

@font-face {
  font-family: "Bold";   /*Can be any text*/
  src: local("EnterCommandBold"),
    url("./assets//fonts/EnterCommand-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Italic";   /*Can be any text*/
  src: local("EnterCommandItalic"),
    url("./assets/fonts/EnterCommand-Italic.ttf") format("truetype");
}

:root {
  font-family: "EnterCommand";
  line-height: 1.5;
  font-size: 20px;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  /* display: flex;  */
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 2.2em;
  line-height: 1.1;
}
h2 {
  font-size: 1.8em;
  line-height: 1.1;
}

.nav-button{
  border: 1px solid transparent;
  padding: 0.1em 0.5em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

.nav-button:hover{
  background-color: #f7efcc;
  color: #000;
  border-color: #fff;
}

.action-button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
.action-button:hover {
  border-color: #646cff;
}
.action-button:focus,
.action-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  .action-button {
    background-color: #f9f9f9;
  }
}

@media print
{    
    .no-print, .no-print *
    {
        display: none !important;
    }
}

/* APP Component CSS */
#root {
  margin: 0 auto;
  padding: 0;
  text-align: center;
}
